@import "tailwindcss";

/* Ocultar barra de desplazamiento manteniendo la funcionalidad de desplazamiento */
html,
body,
#root {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  overflow-x: hidden;
}

/* Ocultar scrollbars en WebKit (Chrome, Safari, Edge, Opera) */
*::-webkit-scrollbar {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
}

/* Ocultar scrollbars en Firefox y navegadores modernos */
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
